#wrap {
  min-width: 340px;
  position: relative;
}
.h-in {
  position: absolute;
  right: 15.9rem;
  top: 0;
  height: 13rem;
  display: flex;
  justify-content: flex-end;
}
.h-in .menu {
  display: flex;
  gap: 50px;
  /* font-size: 1.5rem; */
  align-items: flex-end;
  color: #fff;
}

.h-in .menu p {
  font-size: 2.6rem;
}
